.form-group:not(:first-of-type)[b-71phgeaxca] {
    margin-top: 15px;
}
.form-group label[b-71phgeaxca]{
    color: #333;
    margin-bottom: 5px;
}

.form-group .form-control[b-71phgeaxca] {
    margin-bottom: 20px;
}

.btn-primary[b-71phgeaxca] {
    margin-top: 15px;
}